* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin-top: 40px;
  width: 100vw;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

li {
  list-style: none;
}

h1 {
  margin-bottom: 20px;
}

table {
  width: 90%;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

aside {
  position: absolute;
  left: 0;
  width: 160px;
}

aside li {
  margin: 10px;
}

.content-container {
  position: relative;
  left: 200px;
  width: calc(100% - 200px);
}